.App {
  min-height: 100vh;
}

.bg-color{
  background-color: #F9FAFE;
  z-index: -1000;
}

.tamanho {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aurea1 {
  position: absolute;
  top: -20px;
  z-index: -1;
}

.titulo2{
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 2.5rem;
  color:#014A49;
}

.tituloCard{
  width: 360px;
  text-align: center;
  border-radius: 50px;
  color: #014A49;
}

.medicosRecomendados{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  border-radius: 50%;
}

.avatar{
  width: 90px;
  height: 90px;
}

.nomeMedico{
  font-size: 20px;
  font-family: Montserrat;
  color: #014A49;
}

.textoCard{
  text-align: start;
  padding-top: 30px;
  font-family: Montserrat;
  color: #014A49;
  font-size: 16px;
}

/* .textInput{
    display: flex;
    flex-direction: column;
}

.titulo1{
    color: #014A49;
    margin: 0  0 20px 25px;
}

#input1{
    box-shadow: 4px 7px 9px rgba(0, 0, 0, 0.127);
    background-color: #F3F8FB;
    border-radius: 50px 50px 50px 50px;
    width: 100%;
    max-width: 900px;
}

#input2:focus {
    border:none;
    box-shadow: none;
  }

#input2{
    height: 70px;
    border-radius: 50px 0px 0px 50px;
    border: 0;
    background-color: #F3F8FB;
}

#input2::placeholder{
    font-family: Montserrat, san serif;
    font-size: 1.4rem;
    font-weight: bold;
    color: #014a4931;
}

#button-addon2{
    border-radius: 50px 50px 50px 50px;
    border: 2.5px solid #014A49;
    padding: 14px 50px;
    font-family: Montserrat, san serif;
    font-size: 1.4rem;
    color: #014A49;
    font-weight: bold;
}
 */

#lupa {
  margin-top: 22px;
  margin-left: 15px;
  height: 1.3rem;
  color: #014a49;
}
